body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    display: block;
    min-width: 150px;
    margin: 0;
    padding: 5px 15px;
    color: rgb(14, 62, 129);
    background: rgba(51,136,255, 0.4);
    border: solid 0.5px rgb(14, 62, 129);
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
}
button:hover {
    color: #fff;
    background: rgb(14, 62, 129);
}


.form-container {
    display: flex;
    justify-content: center;
}
.form-container > * {
    /* outline: dotted 1px #f00; */
}
.control {
    padding: 5px;
}
.control > * {
    margin-bottom: 5px;
}
.control dl,
.control dt,
.control dd {
    margin: 0;
    padding: 0;
}
.control dt {
    clear: both;
    float: left;
    margin-bottom: 5px;
}
.control label { 
    margin-right: 5px;
    font-weight: bold; 
    font-size: 14px;
}
.control input {
    border: solid 1px #ccc;
}
.control input[readonly] {
    background: #eee;
}
.control input#field\[generation\] {
    width: 50px;
    text-align: right;
}
.control button[disabled] {
    color: #999;
    border-color: #999;
    cursor: not-allowed;
}


.grid-container {
    float: left;
    display: grid;
    grid-gap: 2px;
    border: solid 5px #000;
}

.grid-container input {
    display: none;
    margin: 0;
    appearance: none;
}
.grid-container label {
    display: block;
    width: 20px;
    height: 20px;
    background-color: rgba(0,0,0, 0.15);
    cursor: pointer;
}
.grid-container input:checked + label {
    background-color: rgba(51,136,255, 1);
}
.grid-container input:hover + label {
    background-color: rgba(51,136,255, 0.4);
}
.grid-container input:checked:hover + label {
    background-color: rgb(25, 103, 212) !important;
}


